.mobileCtn {
  display: block;
}
.botaoMenuMobile {
  display: block;
  height: 50px;
  padding: 3px;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}

.botaoMenuMobile span {
  display: block;
  width: 37px;
  height: 6px;
  background: var(--azulNegro);
}
.botaoMenuMobile.noturno span,
.botaoMenuMobile.noturno span:before,
.botaoMenuMobile.noturno span::after {
  background: #ffff;
}

.botaoMenuMobile span::before {
  display: flex;
  content: '';
  width: 37px;
  height: 6px;
  position: relative;
  top: -10px;
  background: var(--azulNegro);
  transition: 0.4s;
}
.botaoMenuMobile:hover > span {
  background: var(--verdeClaro);
  transition: 0.4s;
}
.botaoMenuMobile span::after {
  display: flex;
  content: '';
  width: 37px;
  height: 6px;
  position: relative;
  margin-top: 4px;
  background: var(--azulNegro);
  transition: 0.4s;
}
.botaoMenuMobile.ativo > span::before {
  transform: rotateZ(-40deg);
  top: 0;
  transition: 0.4s;
}
.botaoMenuMobile.ativo > span {
  background-color: transparent;
  transition: 0.4s;
}
.botaoMenuMobile.ativo > span::after {
  transform: rotateZ(40deg);
  bottom: 10px;
  transition: 0.4s;
}

@media (min-width: 800px) {
  .mobileCtn {
    display: none;
  }
}

@keyframes left {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
