.footer {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 50px;
  z-index: -1;
  bottom: 0;
  color: #626262;
  letter-spacing: 1px;
  margin: 1rem auto;
}

@media (max-width: 720px) {
}
@media (max-width: 670px) {
  .footer {
    height: 30px;
    font-size: 0.7rem;
  }
}
