/* Parte da navegação do menu mobile */
.navMenuMobile {
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  right: 0;
  margin-top: 18px;
  margin-right: 16px;
  background: #1fa2ff;
  background: #1a2980;
  background: -webkit-linear-gradient(to right, #1a2980, #26d0ce);
  background: linear-gradient(to right, #1a2980, #26d0ce);
  border-radius: 10px;
  border-top-right-radius: 0px;
  height: 230px;
  transition: 0.8s;
  z-index: 5;
  animation: voltar 0.7s forwards;
}

.navMenuMobile.ativo {
  display: flex;
  transition: 0.8s;
  animation: surgir 0.7s forwards;
}

@keyframes surgir {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes voltar {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

.navMenuMobile::before {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  width: 0;
  height: 0;
  right: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--verdeClaro);
  backdrop-filter: blur(4px);
}
.navMenuMobileList {
  padding: 0px 10px 0px 10px;
}
.navMenuMobileList a {
  color: #fff;
  margin: 16px;
  letter-spacing: 1px;
  font-weight: bolder;
}

.navMenuMobileList li {
  color: var(--azulNegro);
  border: 1px solid #ccc;
  background-color: #cccc;
  border-radius: 10px;
}

.navMenuMobileList li:hover {
  color: #fff;
  background: var(--azulEscuro);
  border: 1px solid transparent;
}
.navMenuMobileList li {
  padding: 15px 40px 15px 40px;
  cursor: pointer;
}
