.formCtn {
  width: 400px;
  border-radius: 10px;
  padding: 10px;
  margin: 2rem auto 2rem auto;
}
.titulo {
  font-size: 1.3rem;
  margin: 10px 0;
}

.form {
  align-items: center;
  text-align: justify;
}

.form label {
  text-align: justify;
  font-size: 1rem;
  font-weight: bold;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  margin: 15px 0 20px 0;
  font-family: 'Roboto', sans-serif;
  border: none;
  padding: 5px 0;
  border: 2px solid transparent;
  background-color: transparent;
  border-bottom: 2px solid #1a2980;
}
.form input::placeholder,
.form textarea::placeholder {
  color: #000;
}

.form textarea {
  padding: 0px;
  padding: 5px 0px 5px 0px;
  height: 1.5rem;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  border: 2px solid #26d0ce;
  outline: none;
  transition: 0.3s;
}

.botao {
  display: flex;
  margin: 1rem auto;
  padding: 8px 20px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  letter-spacing: 0.9px;
  border-radius: 5px;
  background: #1fa2ff;
  background: #1a2980;
  background: -webkit-linear-gradient(to right, #26d0ce, #1a2980);
  background: linear-gradient(to right, #26d0ce, #1a2980);
  color: #fff;
  transition: 0.4s;
}
.botao:hover {
  background: #1a2980;
}

/* Parte do seletor de cores */

.tituloCores {
  font-size: 1rem;
}
.cores {
  display: flex;
  height: 100px;
  margin-top: 6px;
}

.coresDiv {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.coresDiv input {
  width: 15px;
  height: 15px;
}
.coresDiv input:hover {
  cursor: pointer;
}
.coresDiv span {
  content: '';
  position: absolute;
  height: 14px;
  width: 14px;
  margin-top: -50px;
  border: 1px solid #ccc;
}

.cor1 span {
  background-color: #ffff;
}
.cor2 span {
  background-color: #bbc904;
}
.cor3 span {
  background-color: #dc762b;
}
.cor4 span {
  background-color: #c94579;
}
.cor5 span {
  background-color: #0e64f9;
}
.cor6 span {
  background-color: #f9ee0e;
}
.cor7 span {
  background-color: #e20000;
}
@media (max-width: 630px) {
  .formCtn {
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
  }
  .form {
    margin: 0 1rem;
  }
  .titulo {
    font-size: 1.1rem;
    margin: 5px 0;
  }
  .form label {
    font-size: 0.875rem;
  }
  .tituloCores {
    font-size: 0.875rem;
  }
  .botao {
    margin: 0.5rem auto;
    padding: 8px 20px;
  }
  .cores {
    display: flex;
    height: 80px;
    margin-top: 6px;
  }
}
