.formCtn {
  max-width: 400px;
  border-radius: 10px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.form {
  align-items: center;
  text-align: justify;
}

.campos {
  width: 100%;
  height: 30px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
  background-color: #e5e5e5;
  color: #616161;
  margin-top: 28px;
  box-sizing: border-box;
}

.form input::placeholder {
  color: #616161;
  letter-spacing: 1px;
}

.form input:hover,
.form input:focus {
  border-bottom: 2px solid var(--verdeClaro);
  outline: none;
  transition: 0.3s;
}

.botao {
  display: flex;
  margin: 1rem auto;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 6px 27px;
  margin: 60px auto 0 auto;
  color: var(--verdeEscuroText);
  background: var(--verdeClaro);
  transition: 0.4s;
  animation: surgir 2.5s;
}
.botao:hover {
  background-color: var(--verdeHover);
  color: var(--verdeClaro);
  cursor: pointer;
}

/* Parte do seletor de cores */

.cores {
  display: flex;
  margin-top: 6px;
}
.tituloCtn {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 18px;
  padding-top: 45px;
}
.tituloCores {
  font-size: 16px;
  font-weight: 400;
  color: #505050;
}
.tituloCtn svg {
  height: 18px;
  width: 20px;
  float: right;
  fill: #505050;
}
.amostra {
  content: '';
  display: flex;
  margin-top: 22px;
  height: 20px;
  width: 40px;
  background: transparent;
  border: 3px solid transparent;
  border-bottom-right-radius: 6px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.coresDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 20px 10px 0 0;
}
.coresDiv span {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  z-index: 1;
  transition: 0.4s;
  border-radius: 4px;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.coresDiv input {
  z-index: 2;
  opacity: 0;
}
.coresDiv input:hover {
  cursor: pointer;
}

.cor1 span {
  background-color: #ffff;
}
.cor2 span {
  background-color: #bbc904;
}
.cor3 span {
  background-color: #dc762b;
}
.cor4 span {
  background-color: #c94579;
}
.cor5 span {
  background-color: #0e64f9;
}
.cor6 span {
  background-color: #f9ee0e;
}
.cor7 span {
  background-color: #e20000;
}
/* Botao 'fechar' só existe no formulário de edição das notas */
.botaoFecharForm {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
  background-color: #cccc;
  position: absolute;
  margin-top: 30px;
  margin-left: 174px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  animation: descer 1s;
}

.botaoFecharForm svg {
  height: 22px;
  width: 22px;
  fill: rgb(77, 77, 77);
}
.botaoFecharForm:hover {
  background-color: #616161;
  cursor: pointer;
}
.botaoFecharForm:hover svg {
  fill: #eeee;
}
@media (max-width: 630px) {
  .formCtn {
    width: 300px;
    border-radius: 10px;
    padding-bottom: 50px;
  }
  .botaoFecharForm {
    margin-left: 124px;
  }
  .botao {
    margin: 1rem auto;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 6px 27px;
    margin: 60px auto 0 auto;
  }
  .cores {
    display: flex;
    margin-top: 6px;
    justify-content: center;
  }
  .amostra {
    margin: 22px auto 0 auto;
  }
}
@media (max-width: 490px) {
  .formCtn {
    width: 240px;
    border-radius: 10px;
    padding-bottom: 50px;
  }
  .botaoFecharForm {
    margin-left: 95px;
  }
}
@keyframes surgir {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes descer {
  0% {
    opacity: 0;
    margin-top: 0px;
  }
  100% {
    opacity: 1;
    margin-top: 30px;
  }
}
