@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.principalCtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto 0 auto;
  border-radius: 10px;
  width: 100%;
  height: 210px;
  animation: surgir 2s;
}

.titulosCtn {
  width: 500px;
  margin: 0 auto;
}
.divTitulo {
  height: 70px;
  border-radius: 2px;
}
.divTitulo h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
  font-style: normal;
  font-weight: lighter;
  padding: 5px 10px 5px 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.divTitulo1 {
  text-align: justify;
  color: #505050;
  background-color: #e0e0e0;
}
.divTitulo2 {
  text-align: center;
  color: #6f6c6c;
  background-color: #ababab;
}
.divTitulo3 {
  text-align: right;
  color: #bababa;
  background-color: #646464;
}

.botaoCriarNota {
  margin: 80px auto 20px auto;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  width: 180px;
  height: 50px;
  background-color: #01bfcb;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
  animation: surgir 2s;
}
.botaoCriarNota a {
  padding: 10px 27px;
  color: #0d0d0d;
  transition: 0.4s;
}
.botaoCriarNota:hover {
  background-color: #005c62;
  transition: 0.4s;
}
.botaoCriarNota a:hover {
  color: #01bfcb;
  transition: 0.4s;
}
@media (max-width: 660px) {
  .principalCtn {
    margin: 100px 30px 0 30px;
    width: inherit;
  }

  .divTitulo {
    height: 60px;
  }
  .divTitulo h2 {
    font-size: 50px;
  }
}
@media (max-width: 450px) {
  .principalCtn {
    margin: 100px 15px 0 15px;
  }
  .botaoCriarNota {
    margin: 60px auto 20px auto;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 150px;
    height: 40px;
    background-color: #01bfcb;
    border: none;
    border-radius: 4px;
    transition: 0.4s;
  }
}

@keyframes surgir {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
