.minhasNotasCtn {
  width: 100%;
  padding: 1rem 0 2.5rem 0;
}
.notasEncontradasCtn {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 2rem;
}
.totalNotas {
  font-size: 0.975rem;
  margin-top: 1rem;
  color: var(--cinza3);
}
.notasEncontradas {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-gap: 1.5rem;
}

/*  */
@media (max-width: 450px) {
  .notasEncontradas {
    grid-template-columns: 2fr 2fr;
  }
}
