.popUpNota {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}
.popUpBox {
  background: #fff;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid var(--cinzaClaro);
  border-radius: 10px;
  margin: 0 40px;
}
.tituloNotaBox {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000;
}

.subTituloNotaBox {
  font-size: 1rem;
  padding-top: 5px;
}
.dataNotaBox,
.horarioNotaBox {
  padding: 0px 10px 0 10px;
  background: var(--cinzaClaro);
}
.textoBox {
  background: var(--cinzaClaro);
  margin-top: 10px;
  max-width: 400px;
  padding-bottom: 10px;
}
.textoNotaBox {
  margin-top: 10px;
  padding-bottom: 5px;
}

.botaoBox {
  margin: 20px 0px 20px 0px;
  padding: 6px 15px 6px 15px;
  color: var(--verde);
  background-color: var(--cinzaClaro);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.botaoBox:hover {
  background: var(--verde);
  color: #fff;
}
