.sobreCtn {
  color: var(--azulNegro);
  padding: 20px 20px 50px 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.sobreCtn h1 {
  padding: 10px 0px 20px 0px;
  z-index: 10;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.info {
  padding: 0 3rem 0 3rem;
  text-align: justify;
}
.info::before {
  content: '';
  width: inherit;
  height: 2px;
  display: flex;
  margin-bottom: 20px;
  background: var(--cinzaClaro);
}
.sobreCtn p {
  font-size: 0.975rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}
.info::after {
  content: '';
  width: inherit;
  height: 2px;
  display: flex;
  margin-top: 20px;
  background: var(--cinzaClaro);
}
.contatos {
  margin-top: 2rem;
  padding: 0 3rem 0 3rem;
}
.contatos span {
  display: flex;
  margin-top: 10px;
}
.contatos img {
  width: 25px;
  padding-right: 10px;
}
@media (max-width: 630px) {
  .sobreCtn {
    margin: 0 1rem 2rem 1rem;
  }

  .info {
    padding: 0 13px;
    text-align: justify;
  }
  .sobreCtn h1 {
    font-size: 1.3rem;
    padding: 5px 0px 15px 0px;
  }

  .sobreCtn p {
    line-height: 1.2rem;
    font-size: 0.875rem;
  }

  .contatos {
    margin-top: 0;
    padding: 0 1rem 0 1rem;
  }
  .contatos span {
    font-size: 0.875rem;
  }
  .contatos img {
    width: 16px;
    padding-right: 5px;
  }
}
